.avia-section.av-el2mp-526c8ac1baa1732dd9e8505364005005{
margin-top:12px;
margin-bottom:0px;
}

.flex_column.av-7h5o1-d601d8cb9d97470bb08d96f86bdcc92e{
padding:25px 25px 25px 25px;
background-color:#f1f5ff;
}

.avia-image-container.av-l379cdwu-b2b751b2e5eb46c5f0f60b45e524b11f .av-image-caption-overlay-center{
color:#ffffff;
}

