.iconbox.av-l364ex2a-84806c48a1df1175328a57c5e1f95312 .iconbox_icon{
color:#f474a1;
}

.iconbox.av-l364h0gn-4feac06626a7aeb6c3dae34adb07db8f .iconbox_icon{
color:#f474a1;
}

.iconbox.av-l364g0bl-561ac30a38445c9d715cc092213d6d2b .iconbox_icon{
color:#f474a1;
}

